Repository gautamnaik1994/personal-website: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["npm run format","npm run lint:fix", "git add"],
  "*.scss": ["prettier --write", "stylelint --fix", "git add"],
  "{*.{json,md}}": ["prettier --write", "git add"]
}

Update dependency @types/react-helmet to v6.1.5
  package-lock.json
  package.json
Due: none

Update dependency sanitize.css to v13
  package-lock.json
  package.json
Due: none

Pin dependencies
  package-lock.json
  package.json
Due: none

updated libs
  .commitlintrc.json
  .editorconfig
  .eslintrc
  .eslintrc.js
  .lintstagedrc
  .prettierrc
  .vscode/settings.json
  gatsby-config.js
  gatsby-node.esm.js
  gatsby-node.js
  genCtags.bat
  package copy.json
  package-lock.json
  package.json
  src/components/DownloadCVButton.tsx
  src/components/HomePageSections/AboutMeSection.tsx
  src/components/HomePageSections/BlogsSection.tsx
  src/components/HomePageSections/ContactMeSection.tsx
  src/components/HomePageSections/ProjectsSection.tsx
  src/components/HomePageSections/SkillsSection.tsx
  src/components/HomePageSections/WorkExperience.tsx
  src/hooks/useSocialData.tsx
  src/templates/blog.tsx
  tsconfig.json
Due: npm run format, npm run lint:fix

fixed most issues
  gatsby-config.js
  gatsby-node.esm.js
  package copy.json
  package-lock.json
  src/components/HomePageSections/AboutMeSection.tsx
  src/components/HomePageSections/BlogsSection.tsx
  src/components/HomePageSections/ProjectsSection.tsx
  src/components/HomePageSections/WorkExperience.tsx
  src/components/Link.tsx
  src/components/PostItem.tsx
  src/components/ProjectItem.tsx
  src/components/WorkExperience/WorkExperienceMainItem.tsx
  src/gatsby-types.d.ts
  src/templates/blog.tsx
  src/templates/post.tsx
  yarn.lock
Due: npm run format, npm run lint:fix

added stuff
  _data/blog/css-variable/css-variable.png
  _data/blog/css-variable/index.md
  _data/blog/view-different-branch-file/index.md
  _data/blog/view-different-branch-file/view-other-file.png
  gatsby-node.esm.js
  package.json
  src/components/HireMe/HireMe.tsx
  src/components/HomePageSections/BlogsSection.tsx
  src/components/PostItem.tsx
  src/gatsby-types.d.ts
  src/templates/blog.tsx
  yarn.lock
Due: npm run format, npm run lint:fix

fixed url
  static/admin/config.yml
Due: none

trigger build
  static/admin/config.yml
Due: none

added node 18
  package.json
Due: none

added nvm rc
  .nvmrc
Due: none

fixed build command
  package.json
Due: none

commited some stuff
  content/blog/create-backup/images/banner.png
  content/blog/create-backup/index.md
  content/blog/css-variable/images/banner.png
  content/blog/css-variable/index.md
  content/blog/remap-esc/images/banner.png
  content/blog/remap-esc/index.md
  content/blog/view-diff-branch-file/images/banner.png
  content/blog/view-diff-branch-file/index.md
  design/Design.xd
  old_blog/build-dashboards-using-python-dash-and-plotly.md
  old_blog/create-backup.md
  old_blog/css-variable-d745c1e55f6f75f56f1748f8efcc63ab.png
  old_blog/css-variable.md
  old_blog/custom-radio-buttons-using-only-css.md
  old_blog/index-1.md
  old_blog/index.md
  old_blog/react-animated-darkmode-switch.md
  old_blog/remap-esc-bfa9cb7bf6cdcbbd661962b7971d9913.png
  old_blog/remap-esc.md
  old_blog/view-diff-branch-file.md
  src/components/Hero.tsx
  src/img/abstractbgOther.png
  src/img/abstractbgRings.png
Due: npm run format, npm run lint:fix

Updating diagram [skip ci]
  diagram.svg
Due: none

fixed bg issue
  src/components/Hero.tsx
Due: npm run format, npm run lint:fix

Update Settings “websiteStaticContent”
  _data/siteData/websiteStaticContent.md
  static/siteMedia/resume-2021.pdf
Due: none

updated libs
  package.json
  yarn.lock
Due: none

added toc
  _data/blog/css-variable/index.md
  _data/siteData/settings.md
  gatsby-config.js
  gatsby-node.esm.js
  package.json
  src/components/BlogPagination.tsx
  src/components/CategoryTagList.tsx
  src/components/HomePageSections/BlogsSection.tsx
  src/components/Pagination.tsx
  src/components/PostItem.tsx
  src/components/Sidebar.tsx
  src/components/TableOfContents.tsx
  src/pages/index.tsx
  src/styles/style.scss
  src/templates/blog.tsx
  src/templates/post.tsx
  yarn.lock
Due: npm run format, npm run lint:fix, prettier --write, stylelint --fix

fixed some issues
  _data/blog/css-variable/index.md
  src/components/HomePageSections/BlogsSection.tsx
  src/components/Layout.tsx
  src/components/Pagination.tsx
  src/components/TableOfContents.tsx
  src/components/mdx/H3.tsx
  src/components/mdx/H4.tsx
  src/components/mdx/H5.tsx
  src/components/mdx/H6.tsx
  src/components/mdx/Paragraph.tsx
  src/components/mdx/Title.tsx
  src/components/mdx/index.tsx
  src/styles/style.scss
  src/templates/post.tsx
Due: npm run format, npm run lint:fix, prettier --write, stylelint --fix

added new projectss
  _data/projects/project-covid-dashboard.md
  _data/projects/project-flight-search-engine.md
  _data/projects/project-gautam-blogs.md
  _data/projects/project-grassdoor.md
  _data/projects/project-meet-greet.md
  _data/projects/project-option-strategies.md
  _data/projects/project-ticlet.md
  _data/projects/text-logo.png
  gatsby-node.esm.js
  src/components/HomePageSections/ProjectsSection.tsx
  src/components/ProjectItem.tsx
  src/templates/blog.tsx
  static/admin/config.yml
  static/siteMedia/resume-2021.pdf
Due: npm run format, npm run lint:fix

Update Settings “websiteStaticContent”
  _data/siteData/websiteStaticContent.md
Due: none

updated static info
  _data/siteData/websiteStaticContent.md
  _data/skills/skill-data-scientist.md
  _data/workExperience/workExperience-bidchat.md
  _data/workExperience/workExperience-genora-infotech.md
  src/components/Badge.tsx
  src/components/Hamburger.tsx
  src/components/HomePageSections/AboutMeSection.tsx
  src/components/HomePageSections/BlogsSection.tsx
  src/components/HomePageSections/ContactMeSection.tsx
  src/components/HomePageSections/SkillsSection.tsx
  src/components/Logo.tsx
  src/components/Skill/SkillMeter.tsx
  static/siteMedia/resume-2021.pdf
Due: npm run format, npm run lint:fix

fixed blog page
  assets/p-website.json
  gatsby-browser.js
  gatsby-ssr.js
  src/components/Badge.tsx
  src/components/GlobalStyle.tsx
  src/components/Hero.tsx
  src/components/HomePageSections/HomePageHeader.tsx
  src/components/Layout.tsx
  src/components/Sidebar.tsx
  src/components/WorkExperience/WorkExperienceMainItem.tsx
  src/components/mdx/BaseUtils.tsx
  src/components/mdx/H3.tsx
  src/components/mdx/H4.tsx
  src/components/mdx/H5.tsx
  src/components/mdx/H6.tsx
  src/components/mdx/List.tsx
  src/components/mdx/Paragraph.tsx
  src/components/mdx/Subtitle.tsx
  src/components/mdx/Title.tsx
  src/components/mdx/index.tsx
  src/styles/style.scss
  src/templates/blog.tsx
  src/templates/post.tsx
  src/utils/colors.js
  src/utils/constant.ts
Due: npm run format, npm run lint:fix, prettier --write, stylelint --fix

used gatsby head api to replace seo component
  gatsby-config.js
  package.json
  src/components/Categories.tsx
  src/components/Experience/Experience.tsx
  src/components/GlobalStyle.tsx
  src/components/HomePageSections/BlogsSection.tsx
  src/components/Layout.tsx
  src/components/Navbar.tsx
  src/components/PostItem.tsx
  src/components/SEO.tsx
  src/components/Skill/SkillMeter.tsx
  src/components/TitleAnimationBox.tsx
  src/components/mdx/Keyboard.tsx
  src/gatsby-types.d.ts
  src/hooks/useSiteMetadata.tsx
  src/pages/404.tsx
  src/pages/index.tsx
  src/styles/style.scss
  src/templates/blog.tsx
  src/templates/post.tsx
  static/siteMedia/og-image.png
  yarn.lock
Due: npm run format, npm run lint:fix, prettier --write, stylelint --fix

used gatsby head api to replace seo component
  gatsby-ssr.js
Due: npm run format, npm run lint:fix
