Repository gautamnaik1994/personal-website: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:fix, prettier --write, stylelint --fix

fixed server specific issue
  src/utils/themeConfig.ts
Due: npm run format, npm run lint:fix

Update dependency @types/node to v14.17.3
  package-lock.json
  package.json
Due: none

fixed certain stuff
  src/components/HireMe/HireMe.tsx
  src/components/HomePageSections/AboutMeSection.tsx
  src/components/HomePageSections/BlogsSection.tsx
  src/components/HomePageSections/ExperienceSection.tsx
  src/components/HomePageSections/SkillsSection.tsx
  src/components/HomePageSections/WorkExperience.tsx
  src/components/Skill/Skill.tsx
  src/components/WorkExperience/WorkExperienceMainItem.tsx
  src/pages/index.tsx
  src/styles/style.scss
  src/templates/post.tsx
Due: npm run format, npm run lint:fix, prettier --write, stylelint --fix

Update dependency @types/styled-components to v5.1.10
  package-lock.json
  package.json
Due: none

fixed stuff
  src/components/Experience2/Item.tsx
  src/components/Layout.tsx
Due: npm run format, npm run lint:fix

added soxial links
  _data/siteData/websiteStaticContent.md
  src/components/HomePageSections/AboutMeSection.tsx
  src/components/HomePageSections/WorkExperience.tsx
  static/admin/config.yml
Due: npm run format, npm run lint:fix

Update dependency @types/react to v17.0.11
  package-lock.json
  package.json
Due: none

added some components
  [BufExplorer]
  src/components/HomePageSections/AboutMeSection.tsx
  src/components/Layout.tsx
  src/styles/style.scss
Due: npm run format, npm run lint:fix, prettier --write, stylelint --fix

changed skill styling
  package-lock.json
  src/components/HomePageSections/AboutMeSection.tsx
  src/pages/index.tsx
  src/styles/style.scss
Due: npm run format, npm run lint:fix, prettier --write, stylelint --fix

added projects section
  [BufExplorer]
  _data/projects/project-covid-dashboard.md
  _data/projects/project-grassdoor.md
  _data/projects/project-meet-greet.md
  _data/projects/project-mwell.md
  _data/projects/project-ticlet.md
  _data/workExperience/workExperience-bidchat.md
  _data/workExperience/workExperience-genora-infotech.md
  _data/workExperience/workExperience-mushtifund-school-and-college.md
  _data/workExperience/workExperience-pcce-college.md
  _data/workExperience/workExperience-your-company.md
  src/components/HomePageSections/AboutMeSection.tsx
  src/components/HomePageSections/ProjectsSection.tsx
  src/components/ProjectItem.tsx
  src/components/Skill/Skill.tsx
  src/components/Skill/SkillMeter.tsx
  src/pages/index.tsx
  src/styles/style.scss
  static/admin/config.yml
  static/img/grassdoorlogo.png
  static/img/mglogo.png
  static/img/mwell.png
  static/img/ticlet.png
Due: npm run format, npm run lint:fix, prettier --write, stylelint --fix

added some components
  src/components/HomePageHead/MetaBallsWebGL.tsx
  src/components/ProjectItem.tsx
  src/pages/index.tsx
  src/stories/DownloadCV.stories.tsx
  src/stories/PostItem.stories.tsx
  src/stories/ProjectItem.stories..tsx
Due: npm run format, npm run lint:fix

added pre loader
  gatsby-browser.js
  gatsby-ssr.js
  src/styles/preloader.scss
  static/img/logo.svg
  static/scripts/preloader.js
Due: npm run format, npm run lint:fix, prettier --write, stylelint --fix

Update dependency @babel/core to v7.14.6
  package-lock.json
  package.json
Due: none

added pojects
  src/components/HomePageSections/ProjectsSection.tsx
  src/components/ProjectItem.tsx
Due: npm run format, npm run lint:fix

added outer links
  _data/siteData/blogCategories.md
  src/components/Layout.tsx
  src/components/OuterLinks.tsx
  src/pages/index.tsx
Due: npm run format, npm run lint:fix

Update dependency typescript to v4.3.4
  package-lock.json
  package.json
Due: none

Update dependency @types/react-dom to v17.0.8
  package-lock.json
  package.json
Due: none

added outer links
  src/components/OuterLinks.tsx
Due: npm run format, npm run lint:fix

Update dependency eslint to v7.29.0
  package-lock.json
  package.json
Due: none

changed skill styling
  src/components/Footer.tsx
  src/components/HomePageHead/MetaBallsWebGL.tsx
  src/components/HomePageSections/AboutMeSection.tsx
  src/components/HomePageSections/HomePageHeader.tsx
  src/components/HomePageSections/ProjectsSection.tsx
Due: npm run format, npm run lint:fix

added more styles and fixes
  _data/projects/project-covid-dashboard.md
  _data/projects/project-flight-search-engine.md
  _data/projects/project-grassdoor.md
  _data/projects/project-meet-greet.md
  _data/projects/project-mwell.md
  _data/projects/project-ticlet.md
  _data/siteData/blogTags.md
  _data/siteData/websiteStaticContent.md
  package-lock.json
  package.json
  src/components/Footer.tsx
  src/components/HireMe/HireMe.tsx
  src/components/HomePageHead/MetaBallsWebGL.tsx
  src/components/HomePageHead/MetaballsSVG.tsx
  src/components/HomePageHead/Name.tsx
  src/components/HomePageSections/AboutMeSection.tsx
  src/components/HomePageSections/ProjectsSection.tsx
  src/components/HomePageSections/SkillsSection.tsx
  src/components/Navbar.tsx
  src/components/OuterLinks.tsx
  src/components/ProjectItem.tsx
  src/components/ThemeChooser.tsx
  src/components/WorkExperience/WorkExperienceMainItem.tsx
  src/pages/index.tsx
  src/styles/style.scss
  src/utils/colors.js
  static/admin/config.yml
  static/click.mp3
  static/toggletheme.mp3
  static/toggletheme2.mp3
Due: npm run format, npm run lint:fix, prettier --write, stylelint --fix

fixed styling issues
  src/components/Footer.tsx
  src/pages/index.tsx
Due: npm run format, npm run lint:fix

Update dependency tweakpane to v3
  package-lock.json
  package.json
Due: none

Update typescript-eslint monorepo to v4.28.0
  package-lock.json
  package.json
Due: none

fixed some ui issues
  assets/logo.png
  gatsby-config.js
  src/components/Footer.tsx
  src/components/HomePageHead/MetaballsSVG.tsx
  src/components/HomePageSections/AboutMeSection.tsx
  src/components/Layout.tsx
  src/components/Logo.tsx
  src/components/OuterLinks.tsx
  src/hooks/useSocialData.tsx
  src/stories/DownloadCV.stories.tsx
  src/stories/Footer.stories.tsx
  src/utils/constant.ts
Due: npm run format, npm run lint:fix

changed section title
  assets/SVG/SVG/singlearrow.svg
  assets/logo.png
  assets/p-website.json
  src/components/Experience2/Experience.tsx
  src/components/GlobalStyle.tsx
  src/components/HireMe/HireMe.tsx
  src/components/HomePageHead/Name.tsx
  src/components/HomePageSections/AboutMeSection.tsx
  src/components/HomePageSections/ProjectsSection.tsx
  src/components/HomePageSections/WorkExperience.tsx
  src/components/Logo.tsx
  src/components/Navbar.tsx
  src/components/OuterLinks.tsx
  src/components/SectionTitle.tsx
  src/components/TitleAnimationBox.tsx
  src/img/space.svg
  src/pages/index.tsx
  src/stories/Introduction.stories.mdx
  src/styles/style.scss
  static/fonts/icomoon.eot
  static/fonts/icomoon.svg
  static/fonts/icomoon.ttf
  static/fonts/icomoon.woff
Due: npm run format, npm run lint:fix, prettier --write, stylelint --fix

added declasration section
  _data/projects/project-grassdoor.md
  _data/siteData/websiteStaticContent.md
  assets/logo.png
  src/components/HomePageSections/ContactMeSection.tsx
  src/components/HomePageSections/Declaration.tsx
  src/components/Layout.tsx
  src/components/PostItem.tsx
  src/pages/index.tsx
  static/admin/config.yml
Due: npm run format, npm run lint:fix

Update dependency prettier to v2.3.2
  package-lock.json
  package.json
Due: none

aaded more stuff
  _data/projects/project-covid-dashboard.md
  _data/projects/project-flight-search-engine.md
  _data/projects/project-grassdoor.md
  _data/projects/project-meet-greet.md
  _data/projects/project-mwell.md
  _data/projects/project-ticlet.md
  _data/siteData/companiesWorkedFor.md
  _data/skills/skill-designer.md
  _data/skills/skill-frontend_developer.md
  _data/skills/skill-game_developer.md
  assets/SVG/signature.svg
  package-lock.json
  package.json
  src/components/Footer.tsx
  src/components/HomePageSections/Declaration.tsx
  src/components/HomePageSections/DeclarationSection.tsx
  src/components/HomePageSections/ProjectsSection.tsx
  src/components/HomePageSections/SkillsSection.tsx
  src/components/PostItem.tsx
  src/components/Signature.tsx
  src/pages/index.tsx
  src/stories/Signature.stories.tsx
  src/styles/style.scss
  static/admin/config.yml
Due: npm run format, npm run lint:fix, prettier --write, stylelint --fix

added some stuff
  src/components/HomePageSections/HomePageHeader.tsx
  src/components/Layout.tsx
Due: npm run format, npm run lint:fix

added outer links back to each page
  src/components/Layout.tsx
  src/pages/index.tsx
  src/templates/blog.tsx
Due: npm run format, npm run lint:fix

added some fetures
  _data/blog/build-dashboards-using-python-dash-and-plotly.md
  _data/blog/create-backup.md
  _data/blog/css-variable.md
  _data/blog/custom-radio-buttons-using-only-css.md
  _data/blog/python-2.md
  _data/blog/remap-esc.md
  _data/blog/view-diff-branch-file.md
  _data/siteData/websiteStaticContent.md
  gatsby-node.js
  src/components/Button.tsx
  src/components/DownloadCVButton.tsx
  src/components/Hero.tsx
  src/components/HomePageSections/BlogsSection.tsx
  src/components/Link.tsx
  src/components/LinkButton.tsx
  src/templates/blog.tsx
  static/admin/config.yml
  static/siteMedia/gautam-naik-cv-2018.pdf
  static/siteMedia/gautam-naik-ui-frontend-dev.pdf
Due: npm run format, npm run lint:fix

added page under construction
  gatsby-node.js
  src/components/BlogPagination.tsx
  src/components/Hero.tsx
  src/components/HomePageSections/BlogsSection.tsx
  src/components/HomePageSections/ProjectsSection.tsx
  src/components/PageUnderConstruction.tsx
  src/components/PostItem.tsx
  src/img/abstractbgOther.svg
  src/img/abstractbgRings.svg
  src/templates/blog.tsx
  src/templates/post.tsx
Due: npm run format, npm run lint:fix

changed dist -> public
  gulpfile.js
  package.json
Due: npm run format, npm run lint:fix

temp trigger
  .gitignore
Due: none

fix some issue
  gulpfile.js
  package-lock.json
  package.json
  src/assets/css/app.css
Due: npm run format, npm run lint:fix

trigger deploy
  .gitignore
Due: none

added stuff
  src/components/BlogPagination.tsx
  src/components/BlogSideBar.tsx
  src/templates/blog.tsx
  src/utils/colors.js
Due: npm run format, npm run lint:fix

Path conditions:
  npm run format: any of: *.{js,jsx,ts,tsx}
  npm run lint:fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.scss) or (any of: {*.{json,md}})
  stylelint --fix: any of: *.scss
