Repository gautamnaik1994/personal-website: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:fix, prettier --write, stylelint --fix

Updating diagram [skip ci]
  diagram.svg
Due: none

fixed image issue in project item
  _data/projects/project-covid-dashboard.md
  gatsby-config.js
  gatsby-ssr.js
  package.json
  src/components/HomePageHead/MetaBallsWebGL.tsx
  src/components/HomePageHead/MetaballsSVG.tsx
  src/components/HomePageSections/AboutMeSection.tsx
  src/components/HomePageSections/ProjectsSection.tsx
  src/components/PostItem.tsx
  src/components/ProjectItem.tsx
  src/components/SEO.tsx
  src/gatsby-types.d.ts
  src/utils/themeConfig.ts
  yarn.lock
Due: npm run format, npm run lint:fix

changed cv
  _data/siteData/websiteStaticContent.md
  _data/skills/skill-frontend_developer.md
  src/components/DownloadCVBox.tsx
  src/components/Link.tsx
  src/components/LinkButton.tsx
  src/components/Navbar.tsx
  src/components/ViewCVButton.tsx
  src/gatsby-types.d.ts
  src/utils/constant.ts
  static/admin/config.yml
Due: npm run format, npm run lint:fix

Update Skills “skill-frontend_developer”
  _data/skills/skill-frontend_developer.md
Due: none

Update Settings “websiteStaticContent”
  _data/siteData/websiteStaticContent.md
Due: none

added some data
  _data/siteData/websiteStaticContent.md
  _data/skills/skill-backend_developer.md
  _data/skills/skill-data-scientist.md
  _data/skills/skill-game_developer.md
  _data/workExperience/workExperience-your-company.md
  src/components/HomePageSections/HomePageHeader.tsx
  src/components/HomePageSections/ProjectsSection.tsx
Due: npm run format, npm run lint:fix

added kaggle link
  _data/siteData/websiteStaticContent.md
  src/styles/style.scss
  static/fonts/icomoon.eot
  static/fonts/icomoon.svg
  static/fonts/icomoon.ttf
  static/fonts/icomoon.woff
Due: prettier --write, stylelint --fix

added links to navbar
  .vscode/settings.json
  assets/p-website.json
  src/components/HomePageSections/ProjectsSection.tsx
  src/components/Navbar.tsx
  src/pages/index.tsx
  src/styles/style.scss
  src/utils/constant.ts
Due: npm run format, npm run lint:fix, prettier --write, stylelint --fix

added new blog post
  _data/blog/automated-trading-system/analysis.png
  _data/blog/automated-trading-system/automated-trading-system.png
  _data/blog/automated-trading-system/dailypnl.png
  _data/blog/automated-trading-system/index.md
  _data/blog/automated-trading-system/monthlypnl.png
  _data/blog/automated-trading-system/telegram.png
  _data/blog/automated-trading-system/trades.png
  gatsby-config.js
  package-lock.json
  package.json
  src/components/mdx/index.tsx
  src/gatsby-types.d.ts
  src/styles/style.scss
  src/templates/post.tsx
  yarn.lock
Due: npm run format, npm run lint:fix, prettier --write, stylelint --fix

Update Work Experience “workExperience-bidchat”
  _data/workExperience/workExperience-bidchat.md
Due: none

Create Work Experience “workExperience-kaara-tech”
  _data/workExperience/workExperience-kaara-tech.md
Due: none

Update Work Experience “workExperience-kaara-tech”
  _data/workExperience/workExperience-kaara-tech.md
Due: none

changed name
  src/components/HomePageHead/Name.tsx
Due: npm run format, npm run lint:fix

commint from google idx
  _data/blog/automated-trading-system/index.md
Due: none

Updated blog
  _data/blog/automated-trading-system/index.md
  _data/blog/create-quick-backup-vim/index.md
  _data/blog/css-variable/index.md
  _data/blog/remap-esc/index.md
  _data/blog/view-different-branch-file/index.md
  _data/workExperience/workExperience-kaara-tech.md
  _data/workExperience/workExperience-your-company.md
  src/components/HomePageSections/BlogsSection.tsx
  src/gatsby-types.d.ts
Due: npm run format, npm run lint:fix

added netflix blog
  _data/blog/automated-trading-system/index.md
  _data/blog/netflix-data-analytics/index.md
  _data/blog/netflix-data-analytics/netflix-data-analysis.png
  _data/projects/project-automated-trading-system.md
  _data/projects/project-meet-greet.md
  _data/projects/project-mwell.md
  _data/projects/project-ticlet.md
  _data/siteData/blogCategories.md
  _data/siteData/blogTags.md
  assets/blogbanners/netflix-wallpaper-1280x720.png
  src/components/Pagination.tsx
  src/components/mdx/Subtitle.tsx
  src/components/mdx/Title.tsx
  src/gatsby-types.d.ts
  src/styles/style.scss
  src/templates/post.tsx
  src/utils/colors.js
  static/admin/config.yml
Due: npm run format, npm run lint:fix, prettier --write, stylelint --fix

updated info
  _data/siteData/websiteStaticContent.md
  _data/skills/skill-backend_developer.md
  _data/skills/skill-data-scientist.md
  _data/skills/skill-designer.md
  src/components/HomePageHead/Name.tsx
Due: npm run format, npm run lint:fix

updated info
  assets/og-image.png
  gatsby-config.js
  static/siteMedia/og-image.png
Due: npm run format, npm run lint:fix

updated content
  _data/siteData/websiteStaticContent.md
  _data/workExperience/workExperience-bidchat.md
  _data/workExperience/workExperience-genora-infotech.md
  _data/workExperience/workExperience-kaara-tech.md
  _data/workExperience/workExperience-mushtifund-school-and-college.md
  _data/workExperience/workExperience-pcce-college.md
  _data/workExperience/workExperience-scaler.md
  _data/workExperience/workExperience-your-company.md
  src/components/HireMe/HireMe.tsx
  src/components/HomePageSections/AboutMeSection.tsx
  src/components/HomePageSections/WorkExperience.tsx
  src/components/ProjectItem.tsx
  src/components/SectionTitle.tsx
  src/components/WorkExperience/Status.tsx
  src/components/WorkExperience/WorkExperienceMainItem.tsx
  src/gatsby-types.d.ts
  src/styles/style.scss
Due: npm run format, npm run lint:fix, prettier --write, stylelint --fix

updated content
  _data/workExperience/workExperience-your-company.md
  static/admin/config.yml
Due: none

added aerofit blog
  _data/blog/aerofit-data-analytics/aerofit-data-analysis.png
  _data/blog/aerofit-data-analytics/index.md
  _data/blog/netflix-data-analytics/index.md
  _data/projects/project-flight-search-engine.md
  gatsby-ssr.js
  package-lock.json
  package.json
  src/components/Hero.tsx
  src/components/HomePageHead/MetaBallsWebGL.tsx
  src/styles/style.scss
Due: npm run format, npm run lint:fix, prettier --write, stylelint --fix

added price optim blog
  _data/blog/ecommerce-price-optimization/ecommerce-price-optimization.png
  _data/blog/ecommerce-price-optimization/index.md
  _data/siteData/websiteStaticContent.md
  src/components/HomePageSections/BlogsSection.tsx
  src/components/mdx/Details.tsx
  src/components/mdx/Summary.tsx
  src/components/mdx/index.tsx
  src/styles/style.scss
Due: npm run format, npm run lint:fix, prettier --write, stylelint --fix

Path conditions:
  npm run format: any of: *.{js,jsx,ts,tsx}
  npm run lint:fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.scss) or (any of: {*.{json,md}})
  stylelint --fix: any of: *.scss
