Repository gautamnaik1994/personal-website: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:fix, prettier --write, stylelint --fix

Updating diagram [skip ci]
  diagram.svg
Due: none

fixed image width issue inside mdx
  _data/blog/automated-trading-system/index.md
  _data/blog/automated-trading-system/signals.png
  gatsby-config.js
  src/styles/style.scss
  src/templates/post.tsx
Due: npm run format, npm run lint:fix, prettier --write, stylelint --fix

added share btn
  assets/p-website.json
  package-lock.json
  src/components/FloatingShareBtn.tsx
  src/gatsby-types.d.ts
  src/styles/style.scss
  src/templates/post.tsx
  static/fonts/icomoon.eot
  static/fonts/icomoon.svg
  static/fonts/icomoon.ttf
  static/fonts/icomoon.woff
  yarn.lock
Due: npm run format, npm run lint:fix, prettier --write, stylelint --fix

added ssr check
  src/components/FloatingShareBtn.tsx
Due: npm run format, npm run lint:fix

added churn prediction blog
  _data/blog/driver-churn-prediction/index.md
  _data/blog/driver-churn-prediction/ola-driver-churn.png
  _data/blog/ecommerce-price-optimization/index.md
  _data/projects/project-automated-trading-system.md
  _data/projects/project-covid-dashboard.md
  _data/projects/project-driver-churn-prediction.md
  _data/projects/project-gautam-blogs.md
  _data/projects/project-option-strategies.md
  gatsby-config.js
  package-lock.json
  package.json
  src/components/Button.tsx
  src/components/FloatingShareBtn.tsx
  src/components/HomePageSections/ProjectsSection.tsx
  src/components/mdx/Alert.tsx
  src/components/mdx/BaseUtils.tsx
  src/components/mdx/ExpandableSeeMore.tsx
  src/components/mdx/Subtitle.tsx
  src/components/mdx/Title.tsx
  src/components/mdx/index.tsx
  src/gatsby-types.d.ts
  src/styles/style.scss
  src/utils/colors.js
Due: npm run format, npm run lint:fix, prettier --write, stylelint --fix

Update Projects “project-grassdoor”
  _data/projects/project-grassdoor.md
Due: none

updated theme settings
  gatsby-ssr.js
  src/components/ThemeProvider.tsx
  src/utils/themeConfig.ts
Due: npm run format, npm run lint:fix

updated white theme color
  src/components/HomePageHead/MetaBallsWebGL.tsx
  src/utils/colors.js
Due: npm run format, npm run lint:fix

added project
  _data/projects/gen-ai-interview-bot.md
  _data/projects/gen-ai-interview-bot.png
Due: none

updated info
  _data/siteData/websiteStaticContent.md
  _data/skills/skill-data-scientist.md
  _data/skills/skill-frontend_developer.md
  src/components/HomePageSections/AboutMeSection.tsx
  src/gatsby-types.d.ts
  src/templates/blog.tsx
  src/templates/post.tsx
Due: npm run format, npm run lint:fix

removed library code
  .github/workflows/chromatic.yml
  .github/workflows/create-diagram.yml
  README.md
  src/components/BlogPagination.tsx
  src/components/BlogSideBar.tsx
  src/components/Button.tsx
  src/components/CategoryItem.tsx
  src/components/DownloadCVBox.tsx
  src/components/Hamburger.tsx
  src/components/HireMe/Bulb.tsx
  src/components/HireMe/HireMe.tsx
  src/components/HomePageHead/Name.tsx
  src/components/Sidebar.tsx
  src/components/Signature.tsx
  src/components/Skill/Skill.tsx
  src/components/ThemeChooser.tsx
  src/components/WorkExperience/WorkExperienceMainItem.tsx
  src/hooks/useHeight.tsx
  src/hooks/useSocialData.tsx
Due: npm run format, npm run lint:fix

updated images
  _data/projects/automated-trading-system.png
  _data/projects/churn-prediction.png
  _data/projects/project-automated-trading-system.md
  _data/projects/project-driver-churn-prediction.md
  _data/projects/project-gautam-blogs.md
  _data/projects/project-gen-ai-interview-bot.md
  gatsby-config.js
  src/components/Experience/Experience.tsx
  src/components/GlobalStyle.tsx
  src/components/PageUnderConstruction.tsx
Due: npm run format, npm run lint:fix

added blog
  _data/blog/fullstack-docker-multi-container/architecture.png
  _data/blog/fullstack-docker-multi-container/fullstack-docker-multi-container.png
  _data/blog/fullstack-docker-multi-container/index.md
  _data/projects/automated-trading-system.png
  _data/projects/churn-prediction.png
  _data/projects/fullstack-multi-container.png
  _data/projects/project-fullstack-multi-container.md
  assets/SVG/SVG/waves.svg
  src/components/DownloadCVButton.tsx
  src/components/Pagination.tsx
  src/gatsby-types.d.ts
Due: npm run format, npm run lint:fix

fixed links
  _data/projects/churn-prediction.png
  _data/projects/project-fullstack-multi-container.md
  src/components/Skill/SkillMeter.tsx
  src/styles/style.scss
Due: npm run format, npm run lint:fix, prettier --write, stylelint --fix

added TOC component
  _data/blog/fullstack-docker-multi-container/index.md
  assets/p-website.json
  gatsby-config.js
  package-lock.json
  package.json
  src/components/FloatingShareBtn.tsx
  src/components/FloatingTocBtn.tsx
  src/components/TableOfContentsV2.tsx
  src/styles/style.scss
  src/templates/post.tsx
  src/types.d.ts
  src/utils/MediaQueries.tsx
  static/fonts/icomoon.eot
  static/fonts/icomoon.svg
  static/fonts/icomoon.ttf
  static/fonts/icomoon.woff
Due: npm run format, npm run lint:fix, prettier --write, stylelint --fix

added TOC component
  src/components/TableOfContentsV2.tsx
Due: npm run format, npm run lint:fix

added custom id for heading
  _data/blog/automated-trading-system/index.md
  gatsby-config.js
  src/components/TableOfContentsV2.tsx
  src/utils/rehype-prepend-id.js
Due: npm run format, npm run lint:fix

fixed issue
  src/components/CategoryTagList.tsx
Due: npm run format, npm run lint:fix

updated blog
  _data/blog/sales-forecasting/index.md
Due: none

fixed toc height
  src/components/TableOfContentsV2.tsx
Due: npm run format, npm run lint:fix

fixed orientation
  src/components/Skill/SkillMeter.tsx
Due: npm run format, npm run lint:fix

fixed issue
  src/components/Skill/SkillMeter.tsx
Due: npm run format, npm run lint:fix

Path conditions:
  npm run format: any of: *.{js,jsx,ts,tsx}
  npm run lint:fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.scss) or (any of: {*.{json,md}})
  stylelint --fix: any of: *.scss
