Repository gautamnaik1994/personal-website: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:fix, prettier --write, stylelint --fix

Update storybook monorepo to v6.2.9
  package-lock.json
  package.json
Due: none

Update dependency gatsby-plugin-sitemap to v4
  package-lock.json
  package.json
Due: none

Update dependency @babel/core to v7.14.0
  package-lock.json
  package.json
Due: none

Update dependency @types/react to v17.0.5
  package-lock.json
  package.json
Due: none

Update dependency babel-preset-react-app to v10
  package-lock.json
  package.json
Due: none

Update dependency eslint-config-prettier to v8
  package-lock.json
  package.json
Due: none

Update dependency husky to v6
  package-lock.json
  package.json
Due: none

Update dependency storybook-addon-styled-component-theme to v2
  package-lock.json
  package.json
Due: none

Update typescript-eslint monorepo to v4
  package-lock.json
  package.json
Due: none

Update dependency lint-staged to v11
  package-lock.json
  package.json
Due: none

Update dependency eslint to v7.26.0
  package-lock.json
  package.json
Due: none

Update dependency node-sass to v6
  package-lock.json
  package.json
Due: none

Update dependency prettier to ^2.3.0
  package-lock.json
  package.json
Due: none

Update dependency @types/react-dom to v17.0.4
  package-lock.json
  package.json
Due: none

Pin dependencies
  package.json
Due: none

Update typescript-eslint monorepo to ^4.23.0
  package-lock.json
  package.json
Due: none

backup
  assets/3d/logo_sne.blend
  assets/3d/logo_sne.blend1
  assets/3d/logo_sne.glb
Due: none

added some stuff
  .huskyrc
  content/blog/create-backup/index.md
  content/blog/css-variable/index.md
  content/blog/remap-esc/index.md
  content/blog/view-diff-branch-file/index.md
  package-lock.json
  src/components/Hamburger.tsx
  src/components/HomePageHead/MetaballsSVG.tsx
  src/components/HomePageSections/HomePageHeader.tsx
  src/components/ThemeChooser.tsx
  src/templates/blog.tsx
  src/templates/post.tsx
Due: npm run format, npm run lint:fix

fix some stuff
  .eslintrc.js
  .storybook/main.js
  .storybook/preview.js
  package-lock.json
  package.json
  src/components/HomePageSections/HomePageHeader.tsx
  src/stories/Button.tsx
  src/stories/Header.tsx
  src/stories/Typography.stories.tsx
  src/stories/Typography.tsx
  src/styles/style.scss
  src/templates/post.tsx
  src/utils/colors.ts
Due: npm run format, npm run lint:fix, prettier --write, stylelint --fix

added colors
  .storybook/main.js
  .storybook/preview.js
  assets/p-website.json
  gatsby-ssr.js
  package.json
  src/components/Experience/Experience.tsx
  src/components/Experience/Item.tsx
  src/components/GlobalStyle.tsx
  src/global.d.ts
  src/stories/Introduction.stories.mdx
  src/stories/Introduction.stories_.mdx
  src/utils/colors.js
  src/utils/colors.ts
  src/utils/themeConfig.ts
Due: npm run format, npm run lint:fix

added stuff
  .storybook/preview.js
  src/components/Experience/Experience.tsx
  src/components/Experience/Item.tsx
  src/components/SectionTitle.tsx
  src/components/TitleAnimationBox.tsx
Due: npm run format, npm run lint:fix

added spring based collapseible animation
  package-lock.json
  package.json
  src/components/Skill/Item.tsx
  src/components/Skill/Skill.tsx
  src/components/Skill/SkillMeter.tsx
  src/hooks/useHeight.tsx
  src/stories/Skill.stories.tsx
Due: npm run format, npm run lint:fix

added side scrollisng list
  assets/SVG/SVG/Expand More.svg
  assets/SVG/SVG/calendar.svg
  assets/SVG/SVG/category.svg
  assets/SVG/SVG/double arrow.svg
  assets/SVG/SVG/grid view.svg
  assets/SVG/SVG/listview.svg
  src/components/Skill/Skill.tsx
  src/stories/Introduction.stories.mdx
  src/stories/Skill.stories.tsx
  src/styles/style.scss
  static/fonts/icomoon.eot
  static/fonts/icomoon.svg
  static/fonts/icomoon.ttf
  static/fonts/icomoon.woff
Due: npm run format, npm run lint:fix, prettier --write, stylelint --fix

fixed issue
  src/components/Skill/Skill.tsx
  src/stories/Skill.stories.tsx
Due: npm run format, npm run lint:fix

added chromatic action
  .github/workflows/chromatic.yml
  .storybook/preview.js
  src/components/Experience/Experience.tsx
  src/components/PostItem.tsx
  src/stories/Introduction.stories.mdx
  src/stories/PostItem.stories.tsx
  src/styles/style.scss
Due: npm run format, npm run lint:fix, prettier --write, stylelint --fix

Update actions/checkout action to v2
  .github/workflows/chromatic.yml
Due: none

added workexp componet
  _data/workExperience/workExperience-bidchat.md
  _data/workExperience/workExperience-genora-infotech.md
  _data/workExperience/workExperience-mushtifund-school-and-college.md
  _data/workExperience/workExperience-pcce-college.md
  package.json
  src/components/Experience/Experience.tsx
  src/components/HomePageSections/WorkExperience.tsx
  src/components/PostItem.tsx
  src/components/WorkExperience/WorkExperienceMainItem.tsx
  src/global.d.ts
  src/pages/index.tsx
  src/stories/WorkExperienceItem.stories.tsx
  static/admin/config.yml
Due: npm run format, npm run lint:fix

added controls
  .storybook/main.js
  .storybook/preview.js
  src/components/HomePageSections/WorkExperience.tsx
  src/components/WorkExperience/Status.tsx
  src/components/WorkExperience/WorkExperienceMainItem.tsx
  src/stories/Introduction.stories.mdx
  src/stories/Skill.stories.tsx
  src/stories/WorkExperienceItem.stories.tsx
  src/styles/style.scss
  static/admin/config.yml
  static/fonts/icomoon.eot
  static/fonts/icomoon.svg
  static/fonts/icomoon.ttf
  static/fonts/icomoon.woff
Due: npm run format, npm run lint:fix, prettier --write, stylelint --fix

added animations pulse
  src/components/WorkExperience/Status.tsx
  src/components/WorkExperience/WorkExperienceMainItem.tsx
Due: npm run format, npm run lint:fix

add more components
  src/components/Experience/Experience.tsx
  src/components/PostItem.tsx
  src/components/WorkExperience/Status.tsx
  src/components/WorkExperience/WorkExperienceMainItem.tsx
  src/stories/WorkExperienceItem.stories.tsx
  src/utils/colors.js
Due: npm run format, npm run lint:fix

Update dependency eslint-plugin-react to v7.24.0
  package-lock.json
  package.json
Due: none

added identicon
  _data/workExperience/workExperience-bidchat.md
  _data/workExperience/workExperience-mushtifund-school-and-college.md
  _data/workExperience/workExperience-pcce-college.md
  _data/workExperience/workExperience-your-company.md
  package-lock.json
  package.json
  src/components/Button.tsx
  src/components/DownloadCV.tsx
  src/components/HireMe/Bulb.tsx
  src/components/HireMe/HireMe.tsx
  src/components/HomePageSections/AboutMeSection.tsx
  src/components/HomePageSections/BlogsSection.tsx
  src/components/HomePageSections/SkillsSection.tsx
  src/components/HomePageSections/WorkExperience.tsx
  src/components/LinkButton.tsx
  src/components/TitleAnimationBox.tsx
  src/components/WorkExperience/Status.tsx
  src/components/WorkExperience/WorkExperienceMainItem.tsx
  src/pages/index.tsx
  src/stories/DownloadCV.stories.tsx
  src/stories/HireMe.stories.tsx
  src/stories/Skill.stories.tsx
  src/stories/WorkExperienceItem.stories.tsx
  src/utils/colors.js
  static/admin/config.yml
Due: npm run format, npm run lint:fix

fixed them issue
  _data/workExperience/workExperience-mushtifund-school-and-college.md
  assets/3d/logo.png
  assets/3d/logo_sne.blend
  assets/3d/logo_sne.blend1
  src/components/GlobalStyle.tsx
  src/components/HomePageSections/SkillsSection.tsx
  src/components/HomePageSections/WorkExperience.tsx
  src/components/PostItem.tsx
  src/components/Skill/Skill.tsx
  src/components/WorkExperience/WorkExperienceMainItem.tsx
  src/stories/PostItem.stories.tsx
  src/stories/WorkExperienceItem.stories.tsx
  src/utils/themeConfig.ts
Due: npm run format, npm run lint:fix

fixed ui issues
  src/components/Experience/Experience.tsx
  src/components/HomePageSections/BlogsSection.tsx
  src/components/HomePageSections/SkillsSection.tsx
  src/components/PostItem.tsx
  src/components/SectionTitle.tsx
  src/components/Skill/Skill.tsx
  src/components/TitleAnimationBox.tsx
  src/pages/index.tsx
  src/stories/PostItem.stories.tsx
Due: npm run format, npm run lint:fix

added some fixes
  src/components/Experience/Experience.tsx
  src/components/SectionTitle.tsx
  src/components/TitleAnimationBox.tsx
  src/pages/index.tsx
  src/styles/style.scss
Due: npm run format, npm run lint:fix, prettier --write, stylelint --fix

Update dependency dotenv-webpack to v7.0.3
  package-lock.json
  package.json
Due: none

Update dependency prettier to v2.3.1
  package-lock.json
  package.json
Due: none

added some componets
  .storybook/preview-head.html
  src/components/Experience2/Experience.tsx
  src/components/Experience2/Item.tsx
  src/components/Layout.tsx
  src/stories/Experience.stories.tsx
  static/space.svg
Due: npm run format, npm run lint:fix

added some components
  src/components/DownloadCVBox.tsx
  src/components/DownloadCVButton.tsx
  src/components/Experience2/Experience.tsx
  src/components/Experience2/Item.tsx
  src/components/HomePageSections/BlogsSection.tsx
  src/components/HomePageSections/DownloadCVSection.tsx
  src/components/HomePageSections/ExperienceSection.tsx
  src/components/HomePageSections/SkillsSection.tsx
  src/components/HomePageSections/WorkExperience.tsx
  src/components/Layout.tsx
  src/components/PostItem.tsx
  src/components/SectionTitle.tsx
  src/components/TitleAnimationBox.tsx
  src/pages/index.tsx
Due: npm run format, npm run lint:fix

Path conditions:
  npm run format: any of: *.{js,jsx,ts,tsx}
  npm run lint:fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.scss) or (any of: {*.{json,md}})
  stylelint --fix: any of: *.scss
