Repository gautamnaik1994/personal-website: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["npm run format","npm run lint:fix", "git add"],
  "*.scss": ["prettier --write", "stylelint --fix", "git add"],
  "{*.{json,md}}": ["prettier --write", "git add"]
}

added fading navbar
  [BufExplorer]
Due: none

added blog sidebar
  src/components/BlogSideBar.tsx
  src/components/BlogsSection.tsx
  src/components/Categories.tsx
  src/components/CategoryItem.tsx
  src/components/CategoryTagList.tsx
  src/components/Container.tsx
  src/components/Footer.tsx
  src/components/GlobalStyle.tsx
  src/components/LinkButton.tsx
  src/components/Name.tsx
  src/components/Pagination.tsx
  src/components/PostItem.tsx
  src/components/SectionTitle.tsx
  src/components/mdx/Paragraph.tsx
  src/pages/index.tsx
  src/stories/PostItem.stories.tsx
  src/styles/style.css
  src/templates/blog.tsx
Due: npm run format, npm run lint:fix

added component to folders
  _data/blog/create-backup.md
  src/components/DayNightLandscape.tsx
  src/components/GlobalStyle.tsx
  src/components/HomePageHead/MetaBallsWebGL.tsx
  src/components/HomePageHead/MetaballsSVG.tsx
  src/components/HomePageHead/Name.tsx
  src/components/HomePageSections/AboutMeSection.tsx
  src/components/HomePageSections/BlogsSection.tsx
  src/components/HomePageSections/DownloadCVSection.tsx
  src/components/HomePageSections/HomePageHeader.tsx
  src/components/SkillsSection.tsx
  src/pages/index.tsx
  src/stories/HomePageHeader.stories.tsx
  src/stories/Metaballs.stories.tsx
  src/stories/Name.stories.tsx
  src/stories/button.css
  src/templates/post.tsx
Due: npm run format, npm run lint:fix

updated packages
  gatsby-config.js
  package-lock.json
  package.json
  src/components/Sidebar.tsx
Due: npm run format, npm run lint:fix

replaced old blog source with new one
  .vscode/launch.json
  _data/blog/create-backup.md
  _data/blog/css-variable.md
  _data/blog/remap-esc.md
  _data/blog/test_2.md
  _data/blog/test_blog.md
  _data/blog/view-diff-branch-file.md
  _data/siteData/websiteStaticContent.md
  content/unplished/graphql-book/images/banner.jpg
  content/unplished/graphql-book/index.md
  content/unplished/mdx-example/images/banner.jpg
  content/unplished/mdx-example/index.md
  content/unplished/nerdtree-plugin/images/banner.jpg
  content/unplished/nerdtree-plugin/index.md
  content/unplished/react-book/images/banner.jpg
  content/unplished/react-book/index.md
  content/unplished/remap-esc/images/banner.jpg
  content/unplished/remap-esc/index.md
  gatsby-config.js
  gatsby-node.js
  package-lock.json
  package.json
  src/components/HomePageSections/BlogsSection.tsx
  src/templates/blog.tsx
  src/templates/post.tsx
  src/types.d.ts
  static/admin/config.yml
  static/img/create-backup.png
  static/img/css-variable.png
  static/img/remap-esc.png
  static/img/view-diff-branch-file.png
  static/siteMedia/aboutme.png
  static/siteMedia/gautam-naik-ui-frontend-dev.pdf
Due: npm run format, npm run lint:fix

replaced old blog source with new one
  gatsby-config.js
  package.json
Due: npm run format, npm run lint:fix

fixed typo
  src/templates/blog.tsx
Due: npm run format, npm run lint:fix

added single category functionality to blogs
  _data/blog/create-backup.md
  _data/blog/css-variable.md
  _data/blog/remap-esc.md
  _data/blog/view-diff-branch-file.md
  _data/siteData/blogCategories.md
  _data/siteData/blogTags.md
  static/admin/config.yml
Due: none

added filter functionality
  _data/blog/build-dashboards-using-python-dash-and-plotly.md
  _data/blog/create-backup.md
  _data/blog/css-variable.md
  _data/blog/custom-radio-buttons-using-only-css.md
  _data/blog/python-2.md
  _data/blog/python-3.md
  _data/blog/python-4.md
  _data/blog/python-5.md
  _data/blog/python-6.md
  _data/blog/react-animated-darkmode-switch.md
  _data/blog/remap-esc.md
  _data/blog/test-vim-2.md
  _data/blog/test-vim-4.md
  _data/blog/test-vim-5.md
  _data/blog/test-vim-6.md
  _data/blog/test-vim.md
  _data/blog/view-diff-branch-file.md
  _data/siteData/settings.md
  gatsby-config.js
  gatsby-node.js
  package-lock.json
  package.json
  src/components/CategoryTagList.tsx
  src/components/PostItem.tsx
  src/pages/index.tsx
  src/templates/_blog_old.tsx.BAK
  src/templates/post.tsx
  static/admin/config.yml
Due: npm run format, npm run lint:fix

added types for some component
  _data/siteData/settings.md
  gatsby-node.js
  src/components/Experience/Experience.tsx
  src/components/HomePageSections/AboutMeSection.tsx
  src/components/HomePageSections/BlogsSection.tsx
  src/components/HomePageSections/DownloadCVSection.tsx
  src/components/HomePageSections/HomePageHeader.tsx
  src/components/LinkButton.tsx
  src/components/PostItem.tsx
  src/pages/index.tsx
  src/templates/blog.tsx
  src/templates/post.tsx
  src/types.d.ts
Due: npm run format, npm run lint:fix

added some types
  .huskyrc
  gatsby-ssr.js
  package.json
  src/components/Badge.tsx
  src/components/Button.tsx
  src/components/HomePageHead/MetaBallsWebGL.tsx
  src/components/HomePageSections/BlogsSection.tsx
  src/components/LinkButton.tsx
  src/components/PostItem.tsx
  src/components/Skill/Item.tsx
  src/components/SkillsSection.tsx
  src/stories/Button.stories.tsx
  src/styles/style.css
  tsconfig.json
Due: npm run format, npm run lint:fix

fixed some issues
  _data/workExperience/workExperience-bidchat.md
  src/components/Badge.tsx
  src/components/CategoryTagList.tsx
  src/components/PostItem.tsx
Due: npm run format, npm run lint:fix

fixed fasing issue
  .gitignore
  [BufExplorer]
  _data/blog/python-2.md
  _data/blog/python-3.md
  _data/blog/python-4.md
  _data/blog/python-5.md
  _data/blog/python-6.md
  _data/blog/test-vim-2.md
  _data/blog/test-vim-4.md
  _data/blog/test-vim-5.md
  _data/blog/test-vim-6.md
  _data/blog/test-vim.md
  gatsby-browser.js
  gatsby-config.js
  gatsby-ssr.js
  package-lock.json
  package.json
  src/components/GlobalStyle.tsx
  src/components/HomePageSections/SkillsSection.tsx
  src/components/Layout.tsx
  src/pages/index.tsx
  src/styles/style.css
  src/styles/style.scss
  src/templates/blog.tsx
  src/templates/post.tsx
Due: npm run format, npm run lint:fix, prettier --write, stylelint --fix

added some stuff
  .vscode/settings.json
  README.md
  assets/3d/aboutme.blend
  assets/3d/aboutme.blend1
  gatsby-config.js
  package-lock.json
  package.json
  src/components/Hero.tsx
  src/components/HomePageSections/BlogsSection.tsx
  src/components/Layout.tsx
  src/components/PostItem.tsx
  src/components/ThemeChooser.tsx
  src/templates/_blog_old.tsx.BAK
  src/templates/blog.tsx
  src/templates/categories.tsx.BAK
  src/templates/post.tsx
  static/siteMedia/aboutme.png
Due: npm run format, npm run lint:fix

added drk default theme
  gatsby-config.js
  gatsby-ssr.js
  src/components/HomePageSections/HomePageHeader.tsx
  src/components/Layout.tsx
  src/components/PostItem.tsx
  src/components/SEO.tsx
  src/templates/blog.tsx
  src/utils/constant.ts
  src/utils/themeConfig.ts
Due: npm run format, npm run lint:fix

added stuff
  [BufExplorer]
  _data/blog/build-dashboards-using-python-dash-and-plotly.md
  _data/blog/custom-radio-buttons-using-only-css.md
  _data/blog/python-2.md
  _data/blog/python-3.md
  _data/blog/python-4.md
  _data/blog/python-5.md
  _data/blog/python-6.md
  _data/blog/react-animated-darkmode-switch.md
  _data/blog/test-vim-2.md
  _data/blog/test-vim-4.md
  _data/blog/test-vim-5.md
  _data/blog/test-vim-6.md
  _data/blog/test-vim.md
  assets/3d/aboutme.blend
  assets/3d/aboutme.blend1
  src/components/CategoryTagList.tsx
  src/components/Experience/Experience.tsx
  src/components/Experience/Item.tsx
  src/components/Hero.tsx
  src/components/HomePageSections/BlogsSection.tsx
  src/components/Layout.tsx
  src/components/PostItem.tsx
  src/templates/blog.tsx
  src/templates/post.tsx
  src/utils/constant.ts
  static/admin/config.yml
Due: npm run format, npm run lint:fix

Update dependency gatsby-plugin-image to ^0.7.0
  package-lock.json
  package.json
Due: none

Update dependency tweakpane to v2
  package-lock.json
  package.json
Due: none

Update gatsby monorepo
  package-lock.json
  package.json
Due: none

Update dependency node-sass to v5
  package-lock.json
  package.json
Due: none

Update react monorepo to v17
  package-lock.json
  package.json
Due: none

addd 3d model
  assets/3d/logo_sne.blend
  assets/3d/logo_sne.blend1
  assets/3d/logo_sne.glb
Due: none

Update dependency @babel/core to v7.13.15
  package-lock.json
  package.json
Due: none

Update dependency @types/react-helmet to v6.1.1
  package-lock.json
  package.json
Due: none

Update dependency @types/styled-components to v5.1.9
  package-lock.json
  package.json
Due: none

Update dependency eslint to v7.24.0
  package-lock.json
  package.json
Due: none

Update dependency eslint-plugin-prettier to v3.4.0
  package-lock.json
  package.json
Due: none

Update dependency eslint-plugin-react to v7.23.2
  package-lock.json
  package.json
Due: none

Update dependency husky to v4.3.8
  package-lock.json
  package.json
Due: none

Update dependency nodemon to v2.0.7
  package-lock.json
  package.json
Due: none

Update dependency typescript to v4.2.4
  package-lock.json
  package.json
Due: none

Update storybook monorepo to v6.2.8
  package-lock.json
  package.json
Due: none

Update dependency replace-in-file to v6.2.0
  package-lock.json
  package.json
Due: none

Update dependency @types/react-dom to v16.9.12
  package-lock.json
  package.json
Due: none

Update dependency lint-staged to v10.5.4
  package-lock.json
  package.json
Due: none

Update dependency storybook-dark-mode to v1.0.7
  package-lock.json
  package.json
Due: none

Update dependency @types/react-dom to v17
  package-lock.json
  package.json
Due: none

Update dependency @types/react to v16.14.5
  package-lock.json
  package.json
Due: none

Update dependency @types/react to v17
  package-lock.json
  package.json
Due: none
